<header>
  <mat-toolbar color="primary">
    <div class="profile" *ngIf="!isUserAuthorized.value; else unset">
      <a class="headerLink" [routerLink]="['/register']">Registration</a>
      <a class="headerLink" [routerLink]="['/login']">Login</a>
      <img class="avatar" src="../../assets/images/avatarIconUnauthorized.png" width="50" height="50">
    </div>
    <ng-template #unset>
      <div class="profile">
        <a class="headerLink" [routerLink]="['/profile']">Profile</a>
        <div class="avatar">
          <div class="profileMenu">
            <img class="authAvatar" src="assets/images/avatarIcon.png" width="50" height="50">
          </div>
        </div>
      </div>
    </ng-template>
  </mat-toolbar>
</header>



