<div *ngIf="!isUserAuthorized; else unset" class="profile">
  <a class="headerLink" [routerLink]="['/register']">Registration</a>
  <a class="headerLink" [routerLink]="['/login']">Login</a>
  <img class="avatar" src="assets/images/avatarIconAnAuthorized.png" width="50" height="50">
</div>

<ng-template #unset>
  <header>
    <mat-toolbar color="primary">
      <div class="profile">
        <a class="headerLink" [routerLink]="['/profile']">Profile</a>
        <img class="avatar" src="assets/images/avatarIcon.png" width="50" height="50">
      </div>
    </mat-toolbar>
  </header>
</ng-template>

