/*.starGameButtonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}*/
.starGameButtonContainer{
  display: flex;
  min-height: 85vh;
}
.starGameButton{
  width: 20%;
  margin: auto;
  height: 100px;
  font-size: 30px;
}
